################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DerivTestAutomation/.vs
/DerivTestAutomation/DerivWebAutomationTest/obj/Debug/net6.0
/DerivTestAutomation/DerivWebSocketTest/bin/Debug
/DerivTestAutomation/DerivWebSocketTest/obj/Debug
/DerivTestAutomation/DerivWebSocketTest/obj/Release/net6.0
/DerivTestAutomation/DerivWebSocketTest/obj
/DerivTestAutomation/DerivWebAutomationTest/obj
